doctype html
html(lang="en")
    head
        include head.jade
    body
        include navigation.jade
        each article, index in articles
            if index > 0
                div.separator
            include article_block.jade
